<html>
    <head>
        <title>Rashi's Blog</title>
    </head>
    <body>
        <div>
            <h1 color="Green"><a href="">My whole other world</a></h1>
        </div>

        <div>
            <p>Published: 20.08.2016, 11:15</p>
            <h2 color="Red"><a href="">Rashi's blog posts</a></h2>
            <h3><a href="">1. First post</a></h3>
            <p>Nothing added yet!</p>
        </div>

        <div>
            <p>published: 20.08.2016, 11:50</p>
            <h3><a href="">2. My second post</a></h3>
            <p>Work is under construction</p>
        </div>
    </body>
</html>
